#Ignore everything
.idea
.vscode
/*
~*
/kubejs/probe
/kubejs/exported

#Whitelist these files
!/kubejs
!/config
!/overrides
!.gitignore
!manifest.json
!modlist.html
!*.md
!InstanceSync.jar
!/install
!minecraftinstance.json
!profileImage